{% extends "base.html" %}

{% block content %}
<section id="content">
  {% block content_title %}
  
  {# Jumbotron #}
  <div class="jumbotron jumbotron-fluid lazy" data-background="{{ SITEURL }}/images/pagina_de_inicio/1_jumbotron.jpg">
    <div class="container text-center">
      <h1 class="display-4" >Flexibilidad</h1>
      <p class="lead">Crea con Dekoa los muebles que siempre has soñado.</p>
      <!-- <a class="btn btn-md btn-secondary" href="../../components/navbar/" role="button">Más &raquo;</a> -->
    </div>
  </div>
  
  {# Conoce mas... #}

  <div class="container-fluid conoce-mas-container">
    <div class="container">
      <p class="conoce-mas text-center text-white">Conoce más. &raquo;</p>
    </div>
  </div>

  {# 'Album' section Thumbnails #}

  <div class="container text-right texto-lider rojito-right">
    <p class="lead">
      DEKOA se caracteriza por ofrecer los mejores diseños y materiales para cocinas, así como por su especialización en diferentes soluciones integrales como <strong>carpintería, herrería y decoración.</strong>
    </p>
  </div>

  <div class="album container">
    <div class="row justify-content-md-center">

      <!-- Cuadro 1: Experiencia -->

      <div class="col-md-6 hide-content-hover text-center px-2">
        <a href="{{ SITEURL }}/pages/experiencia.html">
          <div class="box bg-box-1 hover-bright lazy" data-background="{{ SITEURL }}/images/pagina_de_inicio/cajas_fit.png"></div>
          <div class="content">
            <p class="display-4 text-white caption text-shadow">Experiencia</p>
            <p class="text-white carousel-caption text-shadow">Conoce nuestra trayectoria.</p>            
          </div>

        </a>
      </div> 

      <!-- Cuadro 2: Inspiracion -->

      <div class="col-md-6 text-center hide-content-hover px-2">
        <a href="#">
          <div class="box bg-box-2 hover-bright lazy" data-background="{{ SITEURL }}/images/pagina_de_inicio/espejos-1.jpg"></div>
          <div class="content">
            <p class="display-4 text-white caption text-shadow">Inspiración</p>
          </div>      
        </a>
      </div> 

    </div> <!-- endrow -->
    <div class="row">

      <!-- Cuadro 3: Noticias-->

      <div id="box-texto" class="col-md-3 px-2 change-content-hover" data-background="{{ SITEURL }}/images/pagina_de_inicio/map_thumb.png" change-to-text="bla">
        <a class="mfp-pop mfp-iframe" href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3485.163502108315!2d-110.9924031!3d29.1303675!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x799fd9331b4183ad!2sDEKOA!5e0!3m2!1ses-419!2smx!4v1498399872737" target='_blank'>
          <div class="box bg-box-3"></div>
          <div class="content caption">
            <p class="h5 text-white">Visítanos en nuesto nuevo hogar!</p>
            <p class="align-items-baseline text-white">Nueva localidad</p>
          </div>      
        </a>
      </div> 

      <!-- Cuadro 4: Importante -->

      <div id="box-importante" class="col-md-6 px-2">
        <a href="#">
          <div class="box bg-box-4 lazy" data-background="{{ SITEURL }}/images/experiencia-1.jpg"></div>
          <div class="content caption">
            <p class="h3 text-white">¿Tienes una idea en mente?</p>
          </div>      
          <p class="text-muted">Actualidades</p>
        </a>
      </div>

      <!-- Cuadro 5: Instagram -->
      <div class="col-md-3 px-2">
        <a class="instagram-thumb" href={{ INSTAGRAM_POST }} target="_blank">
          <div class="box bg-box-instagram lazy" data-background="{{ SITEURL }}/images/pagina_de_inicio/bg-instagram-dekoa.jpg"></div>
          <div class="content caption">
            <!-- no text content -->
          </div>      
        </a>
        <p class="text-muted">Reciente en Instagram</p>
      </div>

    </div>
  </div> <!-- finish album -->

  {# Social Icons #}
  <!--Social links-->


  <div class="social1 container">
    <div class="social">


      <div id = "social" class="text-center">
        {% for title,url in SOCIAL %}
        <a href="{{ url }}" target = "_blank">
          <i class="fa fa-{{ title }} fa-5x" aria-hidden="true"></i>
        </a>
        {% endfor %}
      </div>

    </div>
  </div>



  {# Ultimos trabajos #}

  <div class="container-fluid ultimos-trabajos-fluid">
    <div class="container-fluid ultimos-trabajos-wrapper">

      <h2 class="h4">Últimas creaciones</h2>
      <p>¡Nada de trucos! Encuentra algunos de nuestros últimos trabajos como lo ven nuestros clientes en su espacio final. ¡Hay más impresiones en las redes sociales!</p>

      {% include 'trabajos_recientes.html' %}
    </div>
  </div>



  <!-- Big container google-maps -->
<!-- 
  <div class="container-fluid location-container">
    <h2 class="h4">Dónde encontrarnos</h2>
    <div id="googleMap" style="height:400px;width:100%;"></div>
    <script>
      function myMap() {
        var myCenter = new google.maps.LatLng(29.130236, -110.992666  );
        var mapProp = {
          center:myCenter, 
          zoom:13, 
          scrollwheel:false, 
          draggable:true,
          mapTypeControl: false,
          streetViewControl: false,
          mapTypeId:google.maps.MapTypeId.ROADMAP};
          var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
          var marker = new google.maps.Marker({position:myCenter});
          marker.setMap(map);
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqhhgV2ChjvMqzpjcWpm0m-Fn7jhNV5VE&callback=myMap"></script>
    </div>
  -->

  {% endblock %}

  {% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
  {% endif %}
</section><!-- /#content -->
{% endblock content %}
